setuptools
dash
dash_bootstrap_components
dash_uploader
plotly
scipy
IPython
openpyxl
numpy
natsort
pandas
Fabio
h5py
stringcase
pyFAI
dash_daq
scikit-learn
./modules/
modules~=0.1
